#container_references {
  padding: 5%;
  display: flex;
  background-color: rgb(239, 239, 239);
}

#content_references {
  padding: 5%;
  text-align: justify;
}

.column-1 {
  width: 50%;
  align-items: center;
  display: flex;
}

.column-2 {
  padding: 5%;
  width: 50%;
  align-items: center;
  display: flex;
}

.circle-animation {
  animation: circle-move 3s infinite alternate;
}

.square-animation {
  animation: square-move 3s infinite alternate;
}

.triangle-animation {
  animation: triangle-move 3s infinite alternate;
}

@keyframes circle-move {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes square-move {
  0% {
    transform: translateY(50px) rotate(0deg);
  }
  100% {
    transform: translateY(100px) rotate(360deg);
  }
}

@keyframes triangle-move {
  0% {
    transform: translateY(-150) scale(1);
  }
  100% {
    transform: translateY(200px) scale(1.5);
  }
}

 .shapes{
  margin-bottom: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.movebutton{
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 2%;
}
